!!! 5
html
  head
    link(rel="stylesheet",href="../build/build.css")
    script(type="text/javascript",src="../build/build.js")
    script(type="text/javascript",src="example.js")
  body(onload="init()")